nav
  position: fixed
  width: 100vw
  text-align: center
  background-color: rgba(0, 0, 0, 0.1)

  & a
    display: inline-block
    padding: 1em
    color: white
    font-family: sans-serif
    text-transform: uppercase
    letter-spacing: 1px
    border-bottom: 2px solid transparent
    transition: .3s border-bottom-color
    &.active
      border-bottom-color: white
